requests
pyrogram
TgCrypto
bs4
pytz
psycopg2-binary
psycopg2
ffmpeg-python
cryptg
typing
Python-IO
Pillow==9.5.0
prettytable
svglib
reportlab
uwuify
python-dotenv
humanize
googlesearch-python
gitpython
pymediainfo
speedtest-cli
validators
emoji
youtube_search_python
youtube_search
rich
wget
hachoir
pykeyboard
python-arq
search-engine-parser
uvloop
feedparser
fuzzysearch
img2pdf
pytz
psutil
google-search-results
uvicorn
fastapi[all]
typing-extensions
uvicorn[standard]
apscheduler
arrow
GitPython
qrcode
pygments
environs
curl_cffi
icrawler
unidecode
git-python
pySmartDL
git+https://github.com/TeamKillerX/RyuzakiLib
git+https://github.com/urllib3/urllib3
yt-dlp==2024.8.6
httpx==0.27.1
PyYAML==6.0.2
